.tableDuedate {
    background-color: #F39B9B;
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      background-color: #ffffff;
    }
  }

  .isInactive {
    background-color: pink;
  }

  .isActive {
    background-color: lightgreen;
  }

  .roomBox {
    border-radius: 5px;
    border: 1px solid black;
  }